<!--Template Header-->
<%- include('templates/header'); %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="/css/web.css" rel="stylesheet">


  <!--///////////////    LOADING ///////////////-->
  <div id="contenedor_carga">
    <div id="carga"></div>
  </div>

  <body>

    <!--////////////IMAGEN PRINCIPAL////////////////////-->
    <div class="hero" style="background-image: url('/images/nubes.png');">
      <div class="imagen_hero">
        <h1><span class="color">Danna Valentina Bejarano<br>
            <h5>WEB DEVELOPER</h5>
          </span></h1>
      </div>
    </div>
    <br><br>

    <!--//////INFORMACION SOBRE MI ////////-->
    <section class="main container verticalLine">
      <div class="col-4">
        <h2 class=" titulo2"><b>Perfil</h2></b><br>
      </div>
      <div class="col-10 ">
        <p class="informacion "><img class="foto" src="/images/perfil.jpg"><br><br>
          Bachiller básico en la especialidad de sistemas, técnico en desarrollo de software.
          Una persona responsable, puntual, trabajadora, con aspiraciones y deseos de superación;
          dispuesta siempre a adquirir nuevos conocimientos y asumir grandes retos que me permitan crecer en aspecto
          personal y laboral.
        </p>
      </div>
      <br><br><br><br>
    </section>
    <br><br>
    <hr><br>

    <!--Fin de la seccion sobre mi-->

    <!--////// EDUCACIÓN ///////-->
    <div class="container ">
      <div class="col-12 ">
        <h2 class=" titulo2"><b>Educación</h2></b><br>
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class=" pt-2 pl-4 ml-2">
              <div class="position-relative mb-4">
                <h5 class="font-weight-bold mb-1 informacion1"> <span class="icon-educacion"></span>Accion de formación
                  trabajo en equipo y comunicación asertiva</h5>
                <p class="informacion1"><strong>Sena</strong> | <small>Diciembre 2019</small></p>
              </div>
              <div class="position-relative mb-4">
                <h5 class="font-weight-bold mb-1  informacion1"><span class="icon-educacion"></span>Acción de formación
                  programación de dispositivos embebidos
                  micro-controlados en lenguaje c</h5>
                <p class="informacion1"><strong>Sena</strong> | <small>Diciembre 2019</small></p>
              </div>
              <div class="position-relative mb-4">
                <h5 class="font-weight-bold mb-1  informacion1"><span class="icon-educacion"></span>Acción de formación
                  elaboracion de biofertilizantes liquidos</h5>
                <p class="informacion1"><strong>Sena</strong> | <small>Diciembre 2019</small></p>
              </div>

            </div>
          </div>
          <div class="col-lg-6">
            <div class=" pt-2 pl-4 ml-2">
              <div class="position-relative mb-4">
                <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                <h5 class="font-weight-bold mb-1 informacion1"><span class="icon-educacion"></span>Técnico en desarrollo
                  de software</h5>
                <p class="informacion1"><strong>Sena</strong> | <small>Noviembre 2021</small></p>
              </div>
              <div class="position-relative mb-4">
                <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                <h5 class="font-weight-bold mb-1 informacion1"><span class="icon-educacion"></span>Uso de Excel y Access
                  para el desarrollo de aplicaciones
                  administrativas empresariales</h5>
                <p class="informacion1"><strong>Sena</strong> | <small>Junio 2022</small></p>
              </div>
              <div class="position-relative mb-4">
                <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                <h5 class="font-weight-bold mb-1 informacion1"><span class="icon-educacion"></span>Tecnólogo en análisis
                  y desarrollo de sistemas de
                  información</h5>
                <p class="informacion1"><strong>Sena</strong> | <small>Curso actual</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <hr><br>

    <!--Fin de la seccion educacion-->

    <!--//////CONTACTO////////////////-->
    <section id="contact" class="contact">
      <div class="container">
        <div class="container verticalLine1">
          <div class="col-12">
            <h2 class=" titulo2"><b>Contacto</h2></b>

            <div class="row contact-info">
              <div class="col-md-4">
                <div class="contact-address">
                  <h3>Dirección</h3>
                  <address>Calle 60 sur # 66-20</address>
                </div>
              </div>

              <div class="col-md-4">
                <div class="contact-phone">
                  <h3>Telefono</h3>
                  <address>3147225136</address>
                </div>
              </div>

              <div class="col-md-4">
                <div class="contact-email">
                  <h3>Email</h3>
                  <address>bejaranodanna3@gmail.com</address>
                </div>
              </div>
            </div>

          </div>
          <img class="foto_form" src="/images/contacto2.png">
          <div class="col-8">
            <form action="https://formspree.io/f/mdobqgnb" method="POST">
              <label class="form_titulo"><b>Correo Electrónico</b> </label>
              <input type="email" name="email" placeholder="Escribe tu correo" required><br>
              <label class="form_titulo"><b>Mensaje</b></label><br>
              <textarea name="message" placeholder="Deja tu mensaje aquí" required></textarea><br>
              <button type="submit">Enviar</button>
            </form>
          </div>
        </div>
        <br><br>
    </section>

    <!--///////   LOADING     //////////-->

    <script>
      window.onload = function () {
        var contenedor = document.getElementById('contenedor_carga');

        contenedor.style.visibility = 'hidden';
        contenedor.style.opacity = '0';
      }
    </script>


    <!--Template Footer-->
    <%- include('templates/footer'); %>

      <!--///////   LOADING     //////////-->
  </body>

  </html>