<!--//////FOOTER///////-->
<footer>
    <div class="w3hubs-footer">
        <div class="w3hubs-icon">
            <ul>
                <li><a href="https://www.facebook.com/DannaValentinaBejarano" target="black"><i class="fa fa-facebook "></i></a></li>
                <li><a href="https://www.instagram.com/d_valentina00/" target="black"><i class="fa fa-instagram"></i></a>
                </li>
                <li><a href="https://twitter.com/dvalentine_00?t=tR7M7u2Tugec99CD42pp1g&s=09" target="black"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/DValentinaBejarano" target="black"><i class="fa fa-github"></i></a></li>
                <li><a href="https://open.spotify.com/playlist/5ObamEjVyYRlv0ProJ4xHb?si=2tJjBik4SKCyGvFUJI0-hA&utm_source=copy-link" target="black"><i class="fa fa-spotify"></i></a></li>
            </ul>
        </div>
        <div class="w3hubs-nav">
            <ul>
                <li><a href="./">Sobre mí</a></li>
                <li><a href="#">Portafolio</a></li>
                <p class="copyright">Danna Bejarano © 2022</p>
            </ul>
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/main.js"></script>


